@model jeudontonestleheros.Core.Data.Models.Reponse

@{
    ViewData["Title"] = "Add";
    List<jeudontonestleheros.Core.Data.Models.Question> list = null;

    list = this.ViewBag.QuestionList;

    var lisItems = list.Select(item => new SelectListItem() { Text = item.Titre, Value = item.Id.ToString() }).ToList();

}

<h2>Add</h2>

<h4>Reponse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="QuestionId" asp-items="lisItems"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

