@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var item in this.ViewBag.MonTableau)
    {

        <a href="#" class="card  border m-2 text-center" style="width: 7rem;">
            <div class="card-body">
                mon contenu
            </div>
        </a>
    }
</div>




